{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}Make a Payment{% endblock %}

{% block content %}
<div class="container mt-5"> <!-- Margin-top for spacing below the navbar -->
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Make a Payment</h2>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }} <!-- Using crispy to render the form -->
                <button type="submit" class="btn btn-primary">Send Payment</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
