{% extends 'base.html' %}

{% block content %}
<h2>Transactions</h2>

<h3>Sent Transactions</h3>
{% for transaction in sent_transactions %}
    <p>
        {% if transaction.transaction_type == 'REQUEST' %}
            Request payment: Payment to {{ transaction.sender.username }}: {{ user_currency_symbol }}{{ transaction.amount }} - {{ transaction.status }}
        {% else %}
            Payment to {{ transaction.recipient.username }}: {{ user_currency_symbol }}{{ transaction.amount }} - {{ transaction.status }}
        {% endif %}
        <a href="{% url 'transaction_invoice' transaction.id %}">View Invoice</a>
    </p>
{% empty %}
    <p>No sent transactions.</p>
{% endfor %}

<h3>Received Transactions</h3>
{% for transaction in received_transactions %}
    <p>
        {% if transaction.transaction_type == 'REQUEST' and transaction.status == 'COMPLETED' %}
            Payment received from {{ transaction.sender.username }}'s request: {{ user_currency_symbol }}{{ transaction.amount }}
        {% elif transaction.transaction_type == 'PAYMENT' %}
            Payment received from {{ transaction.sender.username }}: {{ user_currency_symbol }}{{ transaction.amount }}
        {% endif %}
        <a href="{% url 'transaction_invoice' transaction.id %}">View Invoice</a>
    </p>
{% empty %}
    <p>No received transactions.</p>
{% endfor %}
{% endblock %}
